<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St Patrick's Bank</title>
    <link rel="shortcut icon" href="/img/logo.png">
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <link rel="stylesheet" href="/css/styleII.css">
    <link rel="stylesheet" href="/css/styleIII.css">
<!--    <link rel="stylesheet" href="/css/style_transfer.css">
    -->
   
    
    <link rel="stylesheet" href="/css/four.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Scroll Reveal -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</head>
